{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<section class="contacts">
    {% for contact in contacts %}
    <article>
        <h2>{{ contact.firstname }}</h2>
        <div class="metadata">Rajouté le {{ contact.createdAt | date('d-m-Y')}} à {{ contact.createdAt | date('H:i')}}</div>
        <div class="content">{{ contact.firstname }} {{ contact.lastname }}</div>
        <div class="content">{{ contact.email }}</div>
        <a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-success">Détails</a>
    </article>
    {% endfor %}
</section>
{% endblock %}
